.center {
    text-align: center;
}

body {
    background: #fff;
    font-size: 18pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

/* Top Panel */
.top-panel {
    background-color: #44667c;
    text-align: center;
    margin-left: 250px;
    padding: 20px;
    padding: 20px;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 250px;
    top: 0;
    bottom: 0;
    background-color: #333;
    color: white;
    position: fixed;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
.sidebar a:hover {
    background-color: #444;
}

/* Sidebar Header */
.sidebar-header {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sidebar-header h1 {
    position: relative;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0px;
}

.sidebar-header p {
    position: relative;
    display: block;
    font-size: 0.6em;
    color: #d3d3d3;
    line-height: 1.25em;
    margin-top: 0;
}

/* Project Table */
.project-table {
    margin: 0 auto;
}

/* Project */
.project {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
    background-color: #44667c;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project:hover {
    transform: scale(1.05);
    background-color: rosybrown;
}

.project:hover .project-details {
    display: block;
}

.project:hover .project-name {
    display: none;
}

/* Project Name */
.project-name {
    text-align: center;
    vertical-align: center;
}

/* Project Details */
.project-details {
    display: none;
    text-align: center;
    vertical-align: center;
    font-size: 16px;
}

/* Software Image */
#software img {
    width: 150px;
    height: 100%;
    overflow: hidden;
    margin-right: 30px;
}

/* Circular Image */
.circular-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

/* Font Awesome Icons */
.fa {
    color: gray;
    text-decoration: none;
    transition: color 0.4s ease;
    margin-right: 15px;
}

.fa:hover {
    color: rosybrown;
}